
<tr data-id="">                                        
  <th scope="row" class="text-center">{{num}}</th>
  <td class="text-center">
    <input class="text-center d-none" type="text" value="" style="width:100px" disabled>
    <select class="select-tipo-coche text-center" style="width:100px">
      <option class="text-center" value="1">Coche</option>
      <option class="text-center" value="2">Moto</option>
      <option class="text-center" value="3">Camion</option>
      <option class="text-center" value="4">Furgoneta</option>
    </select>
  </td>
  <td class="text-center"><input class="text-center" type="text" value="" style="width:100px"></td>
  <td class="text-center"><input class="text-center" type="text" value="" style="width:100px"></td>
  <td class="text-center"><input class="text-center" type="text" value="" style="width:100px"></td>
  <td class="text-center"><input class="text-center" type="date" value="" style="width:150px"></td>
  <td class="text-center"><i class="fas fa-plus-circle confirmar-nuevo-coche"></i><i class="fas fa-edit editar-coche d-none"></i><i class="fas fa-check-circle confirmar-editar-coche d-none"></i></td>
  <td class="text-center"><i class="fas fa-trash-alt borrar-coche"></i></td>
  <td class="text-center"><i class="fas fa-file-pdf ficheros"></i></td> 
                              
</tr>